/* common css start */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.row{
    display: flex;
    padding-bottom: 100px;
}
h1{
    font-size: 50px;
    color:#575757;
    font-weight: 700;
    padding: 110px  0px 0px 0px;
}
h2{
    font-size: 35px;
    color:#707070;
}
p{
    color:#828282;
    padding-bottom: 30px;
    line-height: 30px;
}
.link_btn{
    color:#fff;
    background: linear-gradient(45deg,orange,tomato);
    padding: 12px  30px;
    text-decoration: none;
    border-radius: 50px;
}
.align-center{
    text-align: center;
}
/* common css end */
#top_banner .half_width h1 span{
    color: orange;
}
.half_width img{
    width: 100%;
}
#about_me{
    background-image: url(../image/about-bg.png);
    background-repeat: no-repeat;
}
#about_me .half_width img{
    width:75%;
    text-align: center;
}
#recipie .recipie_title{
    padding-bottom: 20px;
}
#recipie .recipie_title p{
    padding: 0 310px;
}
#recipie .row{
    padding-left: 8%;
}
#recipie .half_width{
    box-shadow: 0px 0px 40px #ddd;
    padding: 16px;
    border-radius: 40px;
    margin-left: 2%; 
}
#counter_up{
    box-shadow: 0px 0px 40px #ddd;
    margin:auto;
    width: 80%;
    margin-bottom: 100px;
    border-radius: 40px;
}
#counter_up.row{
    padding-bottom: 0px;
}
#counter_up .counter_item{
    margin: auto;
}
#counter_up .counter_item h1{
    padding: 0px  ;
}
#counter_up .counter_item p{
    padding-bottom: 30px;
    line-height: 0px;
}
footer{
    text-align: center;
    background-color: #0B0D17;
    padding: 30px;
}
footer h2 span{
    color:orange
}
footer p{
    color:#fff;
}